@import "./feed.css";
@import "./scoreBoard.css";
@import "./voting.css";

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}



/* SCROLLBAR --------------------------

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #dadada;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(182, 218, 255);
    border: 1px solid rgb(158, 158, 158);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 207, 255);
    border: 1px solid rgb(136, 136, 136);
}