#scoreboard {
  display: grid;
  /* 2 column grid */
  grid-template-columns: 1fr 1fr;
  width: 30%;
  min-width: 400px;
  margin: 20px 45% 0 auto;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 2px;
  box-shadow: 0 2.8px 2.2px rgba(66, 62, 46, 0.6);
}

.scoreboard-name,
.score {
  padding: 10px;
  text-align: center;
}

.scoreboard-name {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.scoreboard-name-one {
  color: #009578;
}

.scoreboard-name-two {
  color: #2d0095;
}

.score {
  font-size: 2em;
}
