#voting {
  width: 60%;
  min-width: 450px;
  /* box-shadow: 0 0 5px gray;
  border: 1px solid gray; */
  border-radius: 4px;
  margin: 10px 30% 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 2em;
}

p {
  margin: 0 15% 20px 15%;
}

.imgContainer {
  width: 400px;
  height: 400px;
  margin: 15px;
  background-color: rgb(27, 27, 27);
  border-radius: 2px;
  ;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.img:hover {
  cursor: pointer;
  opacity: .8;
  background-color: black;
}

.voting-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vote-options {
  margin: 10px;
}

.selected {
    box-sizing: border-box;
  border: 5px solid rgb(64, 185, 64);
  background-color: rgba(64, 185, 62, 0.3);
  width: 100%;
  height: 100%;
}

#submitBtn {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  background-color: rgb(212, 234, 255);
  width: 170px;
  height: 45px;
  padding: 2px 15px;
  margin-top: 20px;
}

#submitBtn:hover {
  cursor: pointer;
  background-color: rgb(190, 222, 255);
}

#submitBtn:active {
  padding: 3px 13px 1px 17px;
  box-shadow: inset 2px 1px 2px black;
}